@attribute [Route(Routes.Boids)]
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable
@namespace Recreate.Web
@using System.Drawing;

<h3>Boids</h3>

<canvas id="boids-canvas" 
    @onclick="(e)=>
    {
        mBoidsRuntime.AddBoid((float)e.OffsetX,
            (float) e.OffsetY,
            Random.Shared.NextSingle()*2*Math.PI,
            Color.FromArgb(255,Random.Shared.Next(256),Random.Shared.Next(256),Random.Shared.Next(256)));
    }" 
    width="@Recreate.Core.Boids.ScreenWidth" height="@Recreate.Core.Boids.ScreenHeight">
</canvas>



