@attribute [Route(Routes.Boids)]
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable
@namespace Recreate.Web

<h3>Boids</h3>

<canvas id="boids-canvas" width="@Recreate.Core.Boids.ScreenWidth" height="@Recreate.Core.Boids.ScreenHeight">
</canvas>



