@attribute [Route(Routes.Credits)]
@namespace Recreate.Web


<p>Here are the credits to all the people that i used the work from to create this website</p>


<p>Random Walkers: The idea was taken from this 
    <a href="https://happycoding.io/tutorials/processing/input/random-walkers" target="_blank" >website</a>,
    and then i reimplemented it and added to it some stuff</p>

<p>Boids: I saw this <a href="https://youtu.be/bqtqltqcQhw?si=F80sCHWWvYVWxhbF">youtube video</a> a couple of years ago
    and didn't think much of it. A summer morning, i was thinking what can i do to spend my time, i just don't have any ideas,
    and came across this <a href="https://happycoding.io/tutorials/processing/creating-classes/flocking">page</a> when i was
    browsing for ideas about fun projects to build, i searched around to get to know how can i implement it,
    i saw a couple of youtube videos like this <a href="https://www.youtube.com/watch?v=QbUPfMXXQIY">one</a> and
    <a href="https://www.youtube.com/watch?v=G17Cqs6FFl0">this one</a>, tried to do it based on the youtube videos,
    i made some good progress but it didn't look as realistic as in the videos, finally i came to 
    this <a href="https://vanhunteradams.com/Pico/Animal_Movement/Boids-algorithm.html">website</a>, where i just copy pasta the 
    code into my project, it had some bugs, i fixed them the result was good enough.
</p>
