@attribute [Route(Routes.Credits)]
@namespace Recreate.Web


<p>Here are the credits to all the people that i used the work from to create this website</p>


<p>Random Walkers: The idea was taken from this <a href="https://happycoding.io/tutorials/processing/input/random-walkers" target="_blank" >website</a>, and then i reimplemented it and added to it some stuff</p>
