@attribute [Route(Routes.Home)]
@namespace Recreate.Web

<div class="home-page">
    <img src="assets/space.jpg">
    <div>
        Welcome
        <br />
        This website is a hobby project
        <br /> 
        Explore around !
    </div>
</div>
