@namespace Recreate.Web

<nav>
    <NavLink href="@(Routes.RoutePrefix + Routes.Home)" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink href="@(Routes.RoutePrefix + Routes.RandomWalkers)">
        Random Walkers
    </NavLink>
    
    <NavLink href="@(Routes.RoutePrefix + Routes.Boids)">
        Boids
    </NavLink>
    <NavLink href="@(Routes.RoutePrefix + Routes.Credits)">
        Credits
    </NavLink>
</nav>