@attribute [Route(Routes.RandomWalkers)]
@inject IJSRuntime jsRuntime

<div>
    <button @onclick="PauseResume">
        @if(mRunning)
        {
            <text>Pause</text>
        }
        else
        {
            <text>Resume</text>
        }
    </button>
    <button
        @onclick="ClearPoints"    
    >Clear</button>
</div>

<canvas width="@CanvasWidth"
        height="@CanvasHeight"
        id="random-walkers-canvas"
        @onmousedown="(e)=>{StartAdding((uint)e.OffsetX,(uint)e.OffsetY);}"
        @onmouseup="(e)=>{StopAdding();}"
        @onmousemove="(e)=>{ if(mAddingEnabled) ChangedPosition((uint)e.OffsetX,(uint)e.OffsetY);}"
        @onmouseleave="(e)=>{StopAdding();}">
</canvas>
